<div class="row">
    <div class="col-md-9 mx-auto">
        <div class="card card-body mx-auto">
            <h4>Aplicação Solicitada</h4>
            <p>{{user}}</p>
            <p>{{application}}</p>
            <p></p>
            <label for="exampleFormControlTextarea1">Texto gerado para o arquivo consumido pelo robô</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" readonly>IBM-VirtEng|{{domain}};{{user}};GRUPO_APPV_{{application}};INCLUIR</textarea>
        </div>
    </div>
</div>